In [1]:
import pandas as pd

data = pd.read_csv('todays_data.csv')  # Correctly reading the CSV file
print(data)

    First Name  Country      Gender Academic Level
0    abdikhafar   Kenya        male  UnderGraduate
1           plp   Kenya  non_binary            NaN
2      milicent   Kenya      female  UnderGraduate
3      jeremiah   Kenya        male  UnderGraduate
4          emma   Kenya      female        Diploma
..          ...     ...         ...            ...
348      curtis   Kenya        male      secondary
349      lameck   Kenya        male     HighSchool
350    anderson   Kenya        male            NaN
351      hedmon   Kenya        male  UnderGraduate
352     bernard   Kenya        male        Diploma

[353 rows x 4 columns]